$k: #000;
$b: #00a;
$g: #0a0;
$c: #0aa;
$r: #a00;
$m: #a0a;
$y: #a50;
$w: #aaa;

$lk: #555;
$lb: #55f;
$lg: #5f5;
$lc: #5ff;
$lr: #f55;
$lm: #f5f;
$ly: #ff5;
$lw: #fff;

$black: $k;
$blue: $b;
$green: $g;
$cyan: $c;
$red: $r;
$magenta: $m;
$brown: $y;
$white: $w;

$lt-black: $lk;
$lt-blue: $lb;
$lt-green: $lg;
$lt-cyan: $lc;
$lt-red: $lr;
$lt-magenta: $lm;
$lt-yellow: $ly;
$yellow: $ly;
$lt-white: $lw;

$pc0: $k;
$pc1: $b;
$pc2: $g;
$pc3: $c;
$pc4: $r;
$pc5: $m;
$pc6: $y;
$pc7: $w;

$pc8: $lk;
$pc9: $lb;
$pc10: $lg;
$pc11: $lc;
$pc12: $lr;
$pc13: $lm;
$pc14: $ly;
$pc15: $lw;
