.container {
	--scrollbarWidth: 25px;
	user-select: none;
	background-color: #ccc;
}

:deep(.container.inactive) {
	background-color: #fff;
	border: 1px solid #000;

	.button.active {

	}

	.track {
		background-image: none;
		background-color: #fff;
	}
}

:deep(.container) {
	.button {
		aspect-ratio: 1 / 1;
		flex-grow: 0;
		padding-block: 0;
		padding-inline: 0;

		position: relative;
		appearance: none;
		border-radius: 0;
		background-color: #fff;
		border: 1px solid #000;

		font-size: 18px;
		text-align: center;

		-webkit-text-stroke: 1px #000;
		text-stroke: 1px #000;
		color: transparent;

	}

	.button:active:not(:disabled) {
		-webkit-text-stroke: 0 transparent;
		text-stroke: 0;
		color: #000;
	}

	.button.back {
		order: 1;
	}

	.button.fwd {
		order: 3;
	}

	.track {
		position: relative;
		order: 2;
		flex-grow: 1;
		border: 1px solid #000;

		background-color: #fff;
		background-image: url("@/assets/shades/2px-25.png");
		background-repeat: repeat;
		image-rendering: pixelated;
	}

	.trackSegment {
		position: absolute;
		z-index: 1;

		&.active {
			background-color: #000;
		}
	}

	.thumb {
		background-color: #fff;
		border: 1px solid #000;

		&.x {
			border-style: none solid none solid;
		}

		&.y {
			border-style: solid none solid none;
		}
	}

	.thumbProxy {
		border: 1px solid #000;
	}

	.button {
	}

}