.frame {
	border: 2px solid #000;
	box-shadow: 2px 2px 0 0 #000;
}

.contentWrapper {
	background-color: #fff;
	color: #000;

	*::selection {
		color: #fff;
		background-color: #000;
	}
}

.frame > .titleBar {
	position: relative;
	background-color: #fff;
	color: #000;
	border-bottom: 1px solid #000;
	font-family: "ChicagoFLF", sans-serif;
	font-size: 16px;
	user-select: none;

	height: 26px;
	text-align: center;

	& > .titleName {
		display: inline-block;
		position: relative;
		padding: 0 0.5em;
		background-color: #fff;
		height: 100%;
		align-content: center;

	}
}

.frame .titleClose {
	display: none;
}

.frame.focus .titleClose {
	position: absolute;
	display: flex;
	top: 0;
	left: 10px;
	background-color: #fff;
	height: calc(100% - 4px);
	aspect-ratio: 1 / 1;
	padding: 2px 0;

	> button {
		appearance: none;
		background-color: #fff;
		margin: 3px;
		border: 1px solid #000;
		margin: 2px;
		flex-grow: 1;
		aspect-ratio: 1 / 1;

		&:active {
			background-position: center center;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-image: url("../assets/ui.svg#closeSplash");
		}
	}
}

.frame.focus > .titleBar {
	&:before {
		position: absolute;
		inset: 0;
		content: " ";

		background-image: url("../assets/titleBarLines.svg#file");
		background-repeat: repeat-x;
		background-size: 200vw 100%;
		background-position: 0 0;
	}
}

.resizeHandle.se {
	position: absolute;
	width: 30px;
	aspect-ratio: 1 / 1;
	bottom: -8px;
	right: -8px;
	z-index: -1;
	cursor: se-resize;
	user-select: none;
}
