@use "../style/constants.scss" as vars;
.menuBar {
	position: static;
	z-index: 10;
	width: 100%;
	cursor: default;

	background-color: #fff;
	overflow: hidden;

	font: #{vars.$winUIFontSize} / vars.$titleHeight vars.$winUIFont;

	border-bottom: 1px solid #000;
}

.menuBar:deep() {
	.menu.root,
	.menu.sub {
		min-width: 20ch;
	}

	.item {
		display: block;
		padding: 0 1ch;
	}

	.root .menuItem .menuItem {
		padding: 0 1ch;
	}

	.menu.root > .menuItem > .sub {
		position: absolute;
	}

	.menu.root .sub {
		position: relative;
		border: 1px solid #000;
		box-shadow: 2px 2px 0 #ccc;
		background-color: #fff;
		z-index: 100;
	}

	.menuItem > .sub {
		display: none;
	}

	.menuItem:focus-within > .sub {
		display: block;
	}

	.menuItem:focus-within {
		background-color: vars.$highlightColor;
		color: #fff;
	}

	.menuItem:focus-within > .sub {
		color: #000;
	}
}
