// This stylesheet should be used in addition to @/exported/ScrollBar/ScrollBarBasic.scss.

:deep(*) {
	.button {
		position: relative;
		appearance: none;
		border-radius: 0;
		background-color: #ccc;
		border: 1px solid #000;

		aspect-ratio: 1 / 1;

		font-size: 14px;
		text-align: center;
		margin: 0;
		padding: 0;
		padding-block: 0;
		padding-inline: 0;

		&::after {
			position: absolute;
			inset: 0;
			border: 3px outset #fff;
			border-width: 2px 3px 3px 2px;
			content: " ";
		}

		&:active {
			padding: 2px 0 0 2px;

			&::after {
				border: 2px solid #888;
				border-style: solid none none solid;
			}
		}
	}

	.track {
		border: 1px solid #000;
	}

	.trackSegment {
		background-color: #ccc;

		&.active {
			background-color: #888;
		}
	}

	.thumb {
		background-color: #ccc;
		border: 1px solid #000;

		&.x {
			border-style: none solid none solid;
		}

		&.y {
			border-style: solid none solid none;
		}
	}

	.thumb::after {
		border: 2px outset #fff;
		position: absolute;
		inset: 0;
		content: " ";
	}

	.thumbProxy {
		border: 1px dotted #fff;
		margin-left: -1px;
		margin-right: -1px;
		z-index: 100;
		mix-blend-mode: difference;
	}

	.deadSpace {
		aspect-ratio: 1 / 1;
		order: 3;
		flex-grow: 0;
		flex-shrink: 0;
		background-color: #ccc;
	}
}