@mixin themed {
	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
	}

	button, input[type=button] {
		color: #000;
		font: inherit;
		background-color: #ccc;
		border: 1px outset #fff;
		padding: 0.5em 1em;

		&, &:focus, &:active {
			outline: none;
		}

		&:focus {
			background-color: #888;
			color: #fff;
		}
	}

	input[type=radio] {
		appearance: none;
		font: inherit;
		line-height: inherit;

		position: relative;
		padding-block: 0;
		padding-inline: 0;
		margin-block: 0;
		margin-inline: 0;
		margin-inline-end: 1ch;

		&::before {
			display: inline-block;
			width: 1ch;
			height: 1ch;
			border: 2px inset #fff;
			background-color: #fff;
			border-radius: 50%;
			content: "\00A0";
		}

		&:checked::after {
			width: 0.8ch;
			height: 0.8ch;
			background-color: #000;
			border-radius: 50%;
			content: "\00A0";
			display: block;
			position: absolute;
			left: calc(0.45ch - 1px);
			top: calc(.45ch - 1px);
			display: inline-block;
		}
	}
}
